<section id="section-contact" class="background-grey p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="far fa-clock"></i></a>
                    </div>
                    <h3>Abierto</h3>
                    <p>
                        <strong>Todos los dias de la semana</strong>
                        <br /><em
                            >*El horario de apertura y cierre varia de acuerdo a
                            la zona</em>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-map-marker-alt"></i></a>
                    </div>
                    <h3>Sucursales</h3>
                    <p>
                        <strong>Nos ubicamos en:</strong>
                        <br /> Acapulco
                        <br /> Ecatepec
                        <br /> Manzanillo
                        <br /> Mazatlán
                        <br /> Morelia
                        <br /> Puerto Vallarta Centro
                        <br /> Puerto Vallarta Politécnico
                        <br /> Tecámac
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-phone"></i></a>
                    </div>
                    <h3>Teléfono de contacto</h3>
                    <p>
                        <strong>Comunicate al:</strong>
                        <br /> 5548282946
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
