<footer id="footer">
    <div class="copyright-content">
        <div class="container">
            <div class="row">
                <div class="copyright-text text-center"> &copy; Todos los derechos reservados I LA 10 I 2024
                </div>
            </div>
        </div>
    </div>
</footer>