<section id="home" class="fullscreen" data-bg-video="../../public/video/la10Dron.mp4">
    <div class="bg-overlay"></div>
    <div class="container-fluid">
        <div class="container-fullscreen">
            <div class="text-middle text-center text-light">
                <img src="/images/logo_blanco_10.png" />
                <p class="lead"><em>Porque sabemos que la persona más importante eres tú…</em></p>
            </div>
        </div>
    </div>
</section>