<section id="gallery" class="no-padding">
    <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0">
        <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="/images/gallery/8.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="LA 10" data-lightbox="image" href="/images/gallery/8.jpg" class="btn btn-light btn-roundeded">Zoom</a>
                </div>
            </div>
        </div>
        
        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="/images/gallery/7.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="LA 10" data-lightbox="image" href="/images/gallery/7.jpg" class="btn btn-light btn-roundeded">Zoom</a>
                </div>
            </div>
        </div>
        
        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="/images/gallery/6.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="LA 10" data-lightbox="image" href="/images/gallery/6.jpg" class="btn btn-light btn-roundeded">Zoom</a>
                </div>
            </div>
        </div>
        
        <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="/images/gallery/5.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="LA 10" data-lightbox="image" href="/images/gallery/5.jpg" class="btn btn-light btn-roundeded">Zoom</a>
                </div>
            </div>
        </div>
        
        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="/images/gallery/4.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="LA 10" data-lightbox="image" href="/images/gallery/4.jpg" class="btn btn-light btn-roundeded">Zoom</a>
                </div>
            </div>
        </div>
        
        <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="/images/gallery/3.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="LA 10" data-lightbox="image" href="/images/gallery/3.jpg" class="btn btn-light btn-roundeded">Zoom</a>
                </div>
            </div>
        </div>
        
        <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="/images/gallery/2.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="LA 10" data-lightbox="image" href="/images/gallery/2.jpg" class="btn btn-light btn-roundeded">Zoom</a>
                </div>
            </div>
        </div>
        
        <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-marketing ct-webdesign">
            <div class="portfolio-item-wrap">
                <div class="portfolio-image">
                    <a href="#"><img src="/images/gallery/1.jpg" alt=""></a>
                </div>
                <div class="portfolio-description">
                    <a title="LA 10" data-lightbox="image" href="/images/gallery/1.jpg" class="btn btn-light btn-roundeded">Zoom</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="background-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" data-animate="fadeInLeft">            
                <div class="post-item-wrap">
                    <section class="fullscreen" data-bg-video="video/2.mov">
                </div>
            </div>
            <div class="col-lg-5 p-l-40 p-r-40" data-animate="fadeInRight">
                <h3 style="color: #bf9150">Siempre habrá una sede cerca de ti esperando para ofrecerte una experiencia inolvidable. </h3>
                <br>
                <p>
                    <strong>
                        <em>“Espectáculos únicos y un servicio de primera. ¡El mejor lugar para disfrutar con amigos!. Volveré pronto.”</em>
                    </strong>
                    <br><br>
                    – Cliente frecuente.
                    <br><br>
                    <strong><em>"Visitar LA 10 ha sido una de las mejores decisiones. El ambiente, la comida, las bebidas, todo fue perfecto. Sin duda, una noche que no olvidaré."</em></strong> <br>
                    <br>
                    – David Sánchez, cliente nuevo.	
                </p>
                <br>
                <h3 style="color: #bf9150">
                    <em><strong>¡Reserva tu Experiencia VIP ahora!.</strong></em>
                </h3>
                <br>
                <p>
                    <strong>Comunicate al:</strong> 5548282946
                    <br><br>
                    <img src="/images/gallery/9.jpg" width="400px">
                </p>
            </div>
        </div>
    </div>

</section>
		