<header id="header" class="dark" data-fullwidth="true">
    <div class="header-inner">
        <div class="container">
            <div id="logo">
                <img src="/images/logo.png" width="100px" />
            </div>
            <div id="mainMenu-trigger">
                <a class="lines-button x"><span class="lines"></span></a>
            </div>
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                        <li><a href="#home">INICIO</a></li>
                        <li><a href="#meetus">CONÓCENOS</a></li>
                        <li><a href="#gallery">GALERÍA</a></li>
                        <li><a href="#news">NOTICIAS</a></li>
                        <li><a href="#locations">SUCURSALES</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>