<section
    id="meetus"
    class="image-block no-padding"
    style="background-color:#000410;"
>
    <div class="container-fluid">
        <div class="row">
            <div
                class="col-lg-6"
                style="height:609px;background:url(../../public/images/image-box-1.jpg) 50% 50% / cover no-repeat;"
            >
            </div>
            <div class="col-lg-6 text-light">
                <h2 class="text-medium">LA 10</h2>
                <h3 style="color: #bf9150">
                    <em>¡Vive la Mejor Experiencia Nocturna en LA 10!</em>.
                </h3>

                <p>
                    "En <strong>LA 10</strong>, te invitamos a escapar de la
                    rutina y sumergirte en una experiencia nocturna de primer
                    nivel. Nuestro equipo ha reunido lo mejor del
                    entretenimiento, ofreciendo shows exclusivos y un ambiente
                    sofisticado donde cada detalle está pensado para hacerte
                    disfrutar.
                </p>
                <p>Con presencia en las principales ciudades de México.</p>
                <p>
                    <strong
                        >“Descubre nuestras ubicaciones en toda la república y
                        encuentra la más cercana a ti.”</strong>
                </p><br />
                <br />

                <a href="#locations"
                    ><span style="text-decoration: underline"
                        ><strong>VER UBICACIONES</strong></span
                    ></a
                >
            </div>
        </div>
    </div>
</section>

<section
    id="section2"
    class="image-block no-padding"
    style="background-color:#000410;"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-light">
                <h2 style="text-align: right">
                    <strong>
                        <em
                            >"No dejes pasar la oportunidad de disfrutar de una
                            noche inolvidable."</em
                        ></strong
                    >
                </h2><br />
                <br />

                <p style="text-align: right">
                    Disfruta de espectáculos exclusivos diseñados para ofrecerte
                    una noche increible, los 7 días de la semana.<br />
                    <br />

                    Déjate seducir por la magia de nuestros shows y una carta
                    selecta de bebidas y platillos. Nos aseguramos de que cada
                    visita sea única.
                </p><br />

                <a href="#locations"
                    ><span style="text-decoration: underline"
                        ><strong>VER UBICACIONES</strong></span
                    ></a
                >
            </div>

            <div
                class="col-lg-6"
                style="height:609px;background:url(../../public/images/image-box-2.jpg) 50% 50% / cover no-repeat;"
            >
            </div>
        </div>
    </div>
</section>