<a name="locations">
    <section id="section5" class="background-dark">
        <div class="container">
            <div class="heading-text text-center">
                <h3 style="color:#FFFFFF">
                    <strong>NUESTRAS SUCURSALES</strong>
                </h3>
            </div>
            <div class="row team-members">
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="/images/team/6.jpg" />
                        </div>
                        <div class="team-desc">
                            <h3>Acapulco</h3>

                            <p>
                                <i class="fa fa-map-marker-alt"></i><br />Los
                                Deportes 3, Deportivo, 39690 Acapulco de Juárez,
                                Gro.
                            </p>
                            <div class="align-center">
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://www.facebook.com/profile.php?id=61561385764537&mibextid=LQQJ4d&rdid=YNS7BzSCDWxMcGoz&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2FtRJrvCW9tMgUh7wQ%2F%3Fmibextid%3DLQQJ4d"
                                >
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://x.com/i/flow/login?redirect_after_login=%2Ffamilyla10"
                                    data-width="100"
                                >
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="images/team/7.jpg" />
                        </div>
                        <div class="team-desc">
                            <h3>Ecatepec</h3>

                            <p>
                                <i class="fa fa-map-marker-alt"></i><br />Av.
                                Central 150, Emiliano Zapata 1a Secc, 55130
                                Ecatepec de Morelos, Méx.
                            </p>
                            <div class="align-center">
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://www.facebook.com/cerveceriaecatepec?mibextid=LQQJ4d"
                                >
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://x.com/i/flow/login?redirect_after_login=%2Ffamilyla10"
                                    data-width="100"
                                >
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="images/team/8.jpg" />
                        </div>
                        <div class="team-desc">
                            <h3>Manzanillo</h3>

                            <p>
                                <i class="fa fa-map-marker-alt"></i><br />Blvd.
                                Miguel de la Madrid 27, Col del Pacífico, 28879
                                Manzanillo, Col.
                            </p>
                            <div class="align-center">
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://www.facebook.com/la10manzanillooficial?mibextid=LQQJ4d"
                                >
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://x.com/i/flow/login?redirect_after_login=%2Ffamilyla10"
                                    data-width="100"
                                >
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="images/team/9.jpg" />
                        </div>
                        <div class="team-desc">
                            <h3>Mazatlán</h3>

                            <p>
                                <i class="fa fa-map-marker-alt"></i><br />De Las
                                Garzas 25, Ex-Laguna Las Gaviotas, 82110
                                Mazatlán, Sin.
                            </p>
                            <div class="align-center">
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://www.facebook.com/profile.php?id=61553246661674&mibextid=LQQJ4d"
                                >
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://x.com/i/flow/login?redirect_after_login=%2Ffamilyla10"
                                    data-width="100"
                                >
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row team-members">
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="images/team/10.jpg" />
                        </div>
                        <div class="team-desc">
                            <h3>Morelia</h3>

                            <p>
                                <i class="fa fa-map-marker-alt"></i><br />Perif.
                                Paseo de la República 2926, Lago 1, 58115
                                Morelia, Mich.
                            </p>
                            <div class="align-center">
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://www.facebook.com/La10MoreliaOficial?mibextid=JRoKGi"
                                >
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://x.com/i/flow/login?redirect_after_login=%2Ffamilyla10"
                                    data-width="100"
                                >
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="images/team/11.jpg" />
                        </div>
                        <div class="team-desc">
                            <h3>Puerto Vallarta Centro</h3>

                            <p>
                                <i class="fa fa-map-marker-alt"></i><br />De Las
                                Garzas 25, Ex-Laguna Las Gaviotas, 82110
                                Mazatlán, Sin.
                            </p>
                            <div class="align-center">
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://www.facebook.com/La10VallartaSucCentro?mibextid=LQQJ4d"
                                >
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://x.com/i/flow/login?redirect_after_login=%2Ffamilyla10"
                                    data-width="100"
                                >
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="images/team/12.jpg" />
                        </div>
                        <div class="team-desc">
                            <h3>Puerto Vallarta Politécnico</h3>

                            <p>
                                <i class="fa fa-map-marker-alt"></i><br />C.
                                Politécnico Nacional, Los Portales, 48315 Puerto
                                Vallarta, Jal.
                            </p>
                            <div class="align-center">
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://www.facebook.com/La10BarVallartaMensClub?mibextid=LQQJ4d"
                                >
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://x.com/i/flow/login?redirect_after_login=%2Ffamilyla10"
                                    data-width="100"
                                >
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <div class="team-image">
                            <img src="images/team/13.jpg" />
                        </div>
                        <div class="team-desc">
                            <h3>Tecámac</h3>

                            <p>
                                <i class="fa fa-map-marker-alt"></i><br />

                                Carr. Federal Pachuca - Mexico KM 32, Loma
                                Bonita, 55767 Ojo de Agua, Méx.
                            </p>
                            <div class="align-center">
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://www.facebook.com/la10oficial?mibextid=LQQJ4d"
                                >
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                                <a
                                    class="btn btn-xs btn-slide btn-light"
                                    href="https://x.com/i/flow/login?redirect_after_login=%2Ffamilyla10"
                                    data-width="100"
                                >
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section></a
>
