---
interface Props {
	title: string;
}

import '../../public/css/plugins.css'
import '../../public/css/style.css'

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="body-inner">
			<slot />
		</div>
		<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
		<script src="../../public/js/jquery.js" defer></script>
		<script src="../../public/js/plugins.js" defer></script>
		<script src="../../public/js/functions.js" defer></script>
	</body>
</html>